@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Semibold?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova Bold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -ms-overflow-style: scrollbar; }

body {
  height: 100vh; }

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-content {
  flex: 1; }

html,
body {
  height: 100%; }
  @media screen and (min-width: 1200px) {
    html,
    body {
      font-size: 16px; } }
  @media screen and (min-width: 992px) {
    html,
    body {
      font-size: 14px; } }
  @media screen and (min-width: 768px) {
    html,
    body {
      font-size: 12px; } }

.page-wrapper {
  font-size: 14px; }

.wrapper {
  display: flex;
  flex-direction: column; }

section.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  flex: 1 0 auto;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px; }
  @media screen and (max-width: 992px) {
    .container {
      width: 100%;
      max-width: 100%; } }

.footer {
  flex: 0 0 auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-wrapper {
    display: block;
    min-height: 100vh;
    flex-direction: column; } }

@-moz-document url-prefix() {
  .wrapper {
    height: auto; }
  html,
  body {
    height: auto; }
  input[type=number] {
    padding: 5px !important; } }

.flex {
  display: flex; }

.static-header {
  width: 100%;
  height: 100%;
  object-fit: contain; }

ul {
  padding: 0;
  list-style: none; }

button {
  cursor: pointer;
  border: 0;
  outline: none; }

a {
  display: inline-block;
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Proxima Nova Regular', Helvetica, Arial, sans-serif;
  color: #202020;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "ProximaNova Bold"; }

h1 {
  font-size: 36px;
  line-height: 38px;
  color: #202020;
  font-weight: 400; }

h2 {
  font-size: 36px;
  line-height: 36px;
  color: #202020;
  font-weight: 500; }

h3 {
  font-size: 18px;
  line-height: 26px;
  color: #202020; }

h4 {
  font-size: 16px;
  line-height: 28px;
  color: #202020; }

h5 {
  font-size: 16px;
  line-height: 26px;
  color: #202020; }

h6 {
  font-size: 14px;
  line-height: 21px;
  color: #202020; }

p {
  font-size: 14px;
  line-height: 23px; }

.slick-slide {
  outline: none !important; }

a {
  outline: none !important; }

img {
  display: block;
  font-size: 12px;
  line-height: 14px; }

section {
  position: relative;
  padding: 40px 0;
  z-index: 1; }

input, select {
  outline: none; }

.overflow {
  overflow: hidden !important; }

.hidden {
  display: none !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.icon {
  width: 20px;
  height: 20px; }

a,
button,
input,
select,
textarea,
textarea,
span,
.icon {
  transition: all 150ms ease; }

button {
  cursor: pointer; }

.input {
  font-size: 16px;
  color: #7b7b7b;
  border-radius: 5px;
  border: 0;
  outline: none;
  height: 43px;
  padding: 10px;
  text-align: center; }

.label-checkbox {
  position: relative;
  padding-left: 25px;
  padding-top: 1px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  font-weight: 400; }
  .label-checkbox:before, .label-checkbox:after {
    position: absolute;
    content: '';
    box-sizing: border-box; }
  .label-checkbox:after {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #ffffff;
    left: 0;
    top: 50%;
    margin-top: -10px; }
  .label-checkbox:before {
    left: 4px;
    top: 50%;
    margin-top: -5px;
    width: 14px;
    height: 11px;
    z-index: 2;
    background: url("../images/general/ico-check.png") no-repeat;
    transition: all ease .1s;
    opacity: 0; }

.label-radio {
  position: relative;
  padding-left: 25px;
  padding-top: 1px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  display: block;
  font-weight: 400; }
  .label-radio:before, .label-radio:after {
    position: absolute;
    content: '';
    box-sizing: border-box; }
  .label-radio:after {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #7f7f7f;
    left: 0;
    top: 50%;
    margin-top: -6px; }
  .label-radio:before {
    left: 3px;
    top: 50%;
    margin-top: -3px;
    width: 7px;
    height: 7px;
    z-index: 2;
    border-radius: 50%;
    background: #bd0000;
    transition: all ease .1s;
    opacity: 0; }

.input-radio, .input-checkbox {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.input-checkbox:checked + .label-checkbox:before {
  opacity: 1; }

.input-radio:checked + .label-radio:before {
  opacity: 1; }

.nopadding {
  padding: 0; }

.btn-secondary {
  background: #690000;
  border-radius: 17px;
  font-size: 14px;
  color: #ffffff;
  padding: 11px 30px;
  border: 1px solid transparent; }
  .btn-secondary:hover {
    background: #ffffff;
    color: #690000;
    border-color: #690000; }

.btn-default {
  background: #690000;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  padding: 11px 30px;
  border: 1px solid transparent; }
  .btn-default:hover {
    border-color: #690000;
    background: #ffffff;
    color: #690000; }

.btn-gray {
  background: #ECEAEB;
  border-radius: 25px;
  font-size: 16px;
  color: #000000;
  padding: 11px 15px;
  border: 1px solid transparent; }
  .btn-gray:hover {
    border-color: #ECEAEB;
    background: #ffffff; }

.btn-arrow {
  border-radius: 30px;
  font-size: 16px;
  color: #ffffff;
  padding: 18px 30px 17px;
  background: #202020;
  border: 1px solid transparent;
  display: flex;
  align-items: center; }
  .btn-arrow img {
    transform: rotate(-90deg); }
  .btn-arrow:hover {
    border-color: #202020;
    background: #ffffff;
    color: #202020; }
    .btn-arrow:hover img {
      filter: invert(1); }

.btn-red, .btn-black {
  border-radius: 18px;
  font-size: 14px;
  color: #ffffff;
  padding: 7px 10px;
  border: 1px solid transparent; }

.btn-red {
  background: #bd0000; }
  .btn-red:hover {
    background: transparent;
    border-color: #bd0000;
    color: #bd0000; }

.btn-black {
  background: #202020; }
  .btn-black:hover {
    background: transparent;
    border-color: #202020;
    color: #202020; }

.title-site {
  font-size: 24px;
  color: #000000;
  font-family: "ProximaNova Bold";
  margin-bottom: 30px; }

.title-section {
  font-size: 30px;
  color: #000000;
  font-family: "ProximaNova Bold";
  margin-bottom: 34px; }

.text-site {
  font-size: 14px;
  line-height: 24px;
  font-family: "Proxima Nova Regular"; }
  .text-site p {
    margin-bottom: 24px; }

.wysiwyg img {
  float: left;
  margin: 10px 10px 10px 0; }

.wysiwyg ul {
  margin-bottom: 24px; }
  .wysiwyg ul li {
    position: relative;
    padding-left: 15px; }
    .wysiwyg ul li:before {
      position: absolute;
      content: '';
      left: 0;
      top: 7px;
      height: 8px;
      width: 8px;
      background: #bd0000;
      border-radius: 50%; }

.wysiwyg ol {
  list-style: none;
  margin-bottom: 24px; }
  .wysiwyg ol li {
    counter-increment: my-awesome-counter; }
    .wysiwyg ol li:before {
      content: counter(my-awesome-counter);
      color: #bd0000; }

body.is-scroll {
  overflow: hidden; }

.popup {
  position: fixed;
  top: 0;
  left: -200%;
  transition: all ease 300ms;
  width: 100%;
  height: 100%;
  z-index: 120;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .popup.active {
    left: 0; }
  .popup-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer; }
    .popup-close:before, .popup-close:after {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      width: 100%;
      background: #ffffff;
      height: 2px; }
    .popup-close:before {
      transform: rotate(45deg); }
    .popup-close:after {
      transform: rotate(-45deg); }
  .popup-wrap {
    position: absolute;
    max-width: 380px;
    width: 380px;
    background: #ffffff;
    border-radius: 25px;
    padding: 30px 20px;
    z-index: 2; }
    .popup-wrap form {
      display: flex;
      flex-direction: column; }
    .popup-wrap label {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px; }
    .popup-wrap .input {
      margin-top: 5px;
      border: 1px solid #ECEAEB; }
  .popup .label-textarea textarea {
    font-family: "Proxima Nova Regular";
    display: block;
    border: 1px solid #8c8c8c;
    color: #8c8c8c;
    height: 100px;
    resize: none;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    padding: 10px; }
  .popup-title {
    font-size: 24px;
    font-family: "Proxima Nova Semibold";
    color: #000000;
    text-align: center;
    margin-bottom: 20px; }
  .popup-subtitle {
    font-size: 16px;
    line-height: 20px;
    font-family: "Proxima Nova Regular";
    color: #000000;
    text-align: center;
    margin-bottom: 20px; }
  .popup-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); }

.popup-video .popup-wrap {
  max-width: 500px;
  width: 500px; }

.popup-video .video-popup {
  width: 100%;
  height: 310px; }

.popup-video iframe {
  width: 100%;
  height: 100%; }

.bread-crumbs {
  padding: 20px 0;
  overflow-x: auto; }
  .bread-crumbs li {
    color: #717171;
    font-size: 14px;
    font-family: "Proxima Nova Regular";
    margin-right: 35px;
    white-space: nowrap; }
  .bread-crumbs a {
    color: #717171;
    font-size: 14px;
    font-family: "Proxima Nova Regular";
    position: relative; }
    .bread-crumbs a:after {
      position: absolute;
      content: '';
      top: 50%;
      right: -25px;
      width: 15px;
      height: 1px;
      background: #717171; }
    .bread-crumbs a:hover {
      text-decoration: underline; }

.title-sidebar__line {
  font-size: 18px;
  color: #000000;
  position: relative;
  padding-bottom: 20px; }
  .title-sidebar__line:after {
    position: absolute;
    content: '';
    left: 0;
    top: calc(100% - 15px);
    height: 3px;
    width: 100%;
    background: #bd0000; }

.subtitle-sidebar {
  font-size: 16px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px; }

.pagination {
  margin-bottom: 50px; }
  .pagination ul {
    display: flex;
    justify-content: center; }
  .pagination li {
    font-size: 16px;
    padding: 8px 15px 7px;
    border-radius: 5px;
    background: #202020;
    color: #ffffff;
    margin-right: 5px; }
    .pagination li:hover {
      background: #bd0000; }
    .pagination li.active {
      background: #bd0000; }
  .pagination a {
    width: 100%;
    height: 100%;
    color: #ffffff; }

.map-wrap {
  max-width: 570px; }
  .map-wrap iframe {
    width: 100%; }

.page-contact {
  padding-top: 20px; }

.map-wrap__title {
  font-size: 18px;
  line-height: 24px;
  font-family: "Proxima Nova Semibold";
  margin-bottom: 20px; }

.contact-page__list {
  margin: 30px 0;
  font-size: 16px; }

.header-top {
  position: relative;
  z-index: 100;
  background: #000000;
  padding: 8px 0 5px; }
  .header-top ul {
    display: flex;
    align-items: center; }
  .header-top li {
    margin: 0 10px; }
    .header-top li:first-of-type {
      margin-left: 0; }
  .header-top a {
    font-size: 14px;
    color: #ffffff;
    font-family: "Proxima Nova Regular"; }
    .header-top a:hover {
      text-decoration: underline; }
  .header-top .top-contact {
    justify-content: flex-end; }
    .header-top .top-contact button {
      background: transparent; }
    .header-top .top-contact li {
      display: flex;
      align-items: center;
      margin: 0 10px; }
      .header-top .top-contact li:last-of-type {
        margin-right: 0; }
    .header-top .top-contact a, .header-top .top-contact button {
      margin-left: 5px;
      color: #ffffff;
      text-decoration: underline; }
      .header-top .top-contact a:hover, .header-top .top-contact button:hover {
        text-decoration: none; }

.header-center {
  padding: 25px 0 15px;
  background: #ffffff;
  position: relative;
  z-index: 100; }
  .header-center .header-location {
    font-size: 13px; }
    .header-center .header-location a {
      font-size: 12px;
      text-decoration: underline;
      color: #bd0000; }
      .header-center .header-location a:hover {
        text-decoration: none; }
  .header-center .header-time {
    margin-left: 10px;
    font-size: 13px; }
  .header-center .header-social ul {
    display: flex;
    align-items: center; }
  .header-center .header-social li {
    margin: 0 5px; }
    .header-center .header-social li:first-of-type {
      margin-left: 0; }
    .header-center .header-social li:last-of-type {
      margin-right: 0; }
  .header-center .header-social a {
    max-width: 33px;
    max-height: 33px; }
    .header-center .header-social a img {
      width: 100%;
      height: 100%; }
  .header-center .header-phone a {
    font-size: 22px;
    font-family: "ProximaNova Bold";
    color: #000000; }

.header-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.66);
  opacity: 0; }
  .header-overlay.active {
    z-index: 99;
    opacity: 1; }

.header-bottom {
  position: relative;
  z-index: 100;
  background: #bd0000; }
  .header-bottom .header-nav ul {
    display: flex; }
  .header-bottom .header-nav li {
    margin-right: 22px; }
    .header-bottom .header-nav li:first-of-type {
      margin-left: 0; }
      .header-bottom .header-nav li:first-of-type a {
        padding-left: 0; }
    .header-bottom .header-nav li:last-of-type {
      margin-right: 0; }
      .header-bottom .header-nav li:last-of-type a {
        padding-right: 0; }
  .header-bottom .header-nav a {
    font-size: 16px;
    color: #ffffff;
    font-family: "Proxima Nova Semibold";
    padding: 17px 22px 16px 0; }
  .header-bottom .sub-nav {
    position: relative; }
    .header-bottom .sub-nav a {
      position: relative; }
      .header-bottom .sub-nav a:after {
        position: absolute;
        content: '';
        right: 0;
        top: 50%;
        margin-top: -3px;
        background: url("../images/general/ico-down.png") no-repeat center;
        width: 10px;
        height: 6px; }
      .header-bottom .sub-nav a.active:after {
        transform: rotate(-180deg);
        top: calc( 50% - 3px); }
    .header-bottom .sub-nav ul {
      display: none;
      padding: 22px 0;
      background: #a30000;
      min-width: 340px; }
      .header-bottom .sub-nav ul.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0; }
      .header-bottom .sub-nav ul a {
        padding: 15px 15px 14px 40px !important;
        width: 100%; }
        .header-bottom .sub-nav ul a:after {
          display: none; }
        .header-bottom .sub-nav ul a:hover {
          background: #ffffff;
          color: #bd0000; }
    .header-bottom .sub-nav li {
      margin: 0; }

.header-center {
  position: relative; }
  .header-center.is-open {
    z-index: 101;
    padding: 0;
    height: 0; }
    .header-center.is-open .logo {
      display: none; }

.btn-header {
  display: none;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border-top: 2px solid #bd0000;
  border-bottom: 2px solid #bd0000;
  cursor: pointer;
  transition: all ease 200ms; }
  .btn-header span {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 100%;
    background: #bd0000;
    transition: all ease 100ms; }
    .btn-header span:before, .btn-header span:after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 2px;
      background: #bd0000;
      transition: all ease 300ms; }

.header-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: #ffffff;
  transition: all ease 300ms;
  padding: 20px 0; }
  .header-mobile.is-open {
    left: 0; }
  .header-mobile .logo {
    text-align: center; }
  .header-mobile .btn-close {
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    top: 15px;
    right: 15px; }
    .header-mobile .btn-close:before, .header-mobile .btn-close:after {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background: #bd0000; }
    .header-mobile .btn-close:before {
      transform: rotate(45deg); }
    .header-mobile .btn-close:after {
      transform: rotate(135deg); }
  .header-mobile .btn-secondary {
    display: block;
    max-width: 220px;
    margin: 0 auto 10px; }
  .header-mobile .header-location {
    font-size: 13px;
    max-width: 250px;
    margin: 0 auto 20px; }
    .header-mobile .header-location a {
      font-size: 12px;
      text-decoration: underline;
      color: #bd0000; }
      .header-mobile .header-location a:hover {
        text-decoration: none; }
  .header-mobile .header-mobile__info-time {
    font-size: 13px;
    max-width: 250px;
    display: flex;
    align-items: center;
    margin: 0 auto 20px; }
    .header-mobile .header-mobile__info-time img {
      display: inline-block;
      margin-right: 15px; }
    .header-mobile .header-mobile__info-time .header-time {
      max-width: 140px; }
  .header-mobile .header-social {
    max-width: 250px;
    margin: 0 auto 20px; }
    .header-mobile .header-social ul {
      display: flex;
      align-items: center; }
    .header-mobile .header-social li {
      margin: 0 5px; }
      .header-mobile .header-social li:first-of-type {
        margin-left: 0; }
      .header-mobile .header-social li:last-of-type {
        margin-right: 0; }
    .header-mobile .header-social a {
      max-width: 33px;
      max-height: 33px; }
      .header-mobile .header-social a img {
        width: 100%;
        height: 100%; }
  .header-mobile .header-phone {
    max-width: 250px;
    margin: 0 auto 50px; }
    .header-mobile .header-phone a {
      font-size: 18px;
      font-family: "ProximaNova Bold";
      color: #000000; }

.header-mobile__nav {
  max-width: 250px;
  margin: 10px auto; }
  .header-mobile__nav a {
    font-size: 14px;
    color: #202020; }
  .header-mobile__nav .sub-nav {
    margin-bottom: 10px; }
    .header-mobile__nav .sub-nav span {
      font-family: "Proxima Nova Semibold";
      display: inline-block;
      margin-bottom: 10px;
      position: relative; }
      .header-mobile__nav .sub-nav span:after {
        position: absolute;
        content: '';
        right: -20px;
        top: 50%;
        margin-top: -3px;
        background: url("../images/general/ico-down-red.png") no-repeat center;
        width: 10px;
        height: 6px; }
    .header-mobile__nav .sub-nav ul {
      display: none; }
    .header-mobile__nav .sub-nav li {
      margin-bottom: 5px; }

.footer {
  padding: 40px 0 35px;
  background: #202020;
  color: #ffffff; }
  .footer a {
    font-size: 16px;
    color: #ffffff;
    font-family: "Proxima Nova Light";
    text-decoration: underline; }
    .footer a:hover {
      text-decoration: none; }

.footer-logo {
  margin-bottom: 20px; }

.footer-info__text {
  font-family: "Proxima Nova Light";
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 25px; }

.footer-nav {
  width: 50%;
  display: inline-flex; }
  .footer-nav ul {
    display: flex;
    flex-wrap: wrap; }
  .footer-nav li {
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding-right: 15px; }

.footer-contact .footer-title {
  margin-bottom: 15px; }

.footer-contact ul {
  margin-bottom: 20px; }

.footer-contact .d-flex li {
  margin: 0 5px 5px; }
  .footer-contact .d-flex li:first-of-type {
    margin-left: 0; }
  .footer-contact .d-flex li:last-of-type {
    margin-right: 0; }

.hero-wrapper {
  padding: 34px 0 41px;
  background-size: cover !important; }
  .hero-wrapper .bread-crumbs {
    margin-top: -20px; }
  .hero-wrapper .title-section {
    font-size: 30px;
    line-height: 34px;
    color: #ffffff;
    font-family: "Proxima Nova Semibold";
    margin-bottom: 10px; }
  .hero-wrapper .subtitle-section {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 42px; }

.hero-wrap .subtitle-section {
  margin-bottom: 17px; }

.hero-item {
  box-sizing: border-box;
  padding: 20px 30px;
  background: #bd0000;
  display: flex;
  margin-bottom: 15px;
  max-width: 693px; }
  .hero-item:nth-of-type(1) .hero-item__media {
    top: 2px;
    left: 13px; }
  .hero-item:nth-of-type(1) .hero-item__text li:nth-of-type(3) {
    max-width: 200px;
    margin-left: 17px; }
  .hero-item:nth-of-type(2) {
    padding: 20px 30px 10px; }
    .hero-item:nth-of-type(2) .hero-item__media {
      top: 12px;
      left: 4px; }
    .hero-item:nth-of-type(2) .hero-item__title {
      width: 110%;
      margin-left: -30px; }
    .hero-item:nth-of-type(2) .hero-item__text {
      padding: 8px 0 0 70px;
      line-height: 24px; }
  .hero-item:nth-of-type(3) {
    padding: 20px 30px 12px; }
    .hero-item:nth-of-type(3) .hero-item__media {
      top: 45px;
      left: 26px; }
    .hero-item:nth-of-type(3) .hero-item__title {
      width: 120%; }
    .hero-item:nth-of-type(3) .hero-item__text {
      padding: 5px 0 0 0;
      line-height: 24px; }
  .hero-item:nth-of-type(2n) {
    flex-direction: row-reverse; }
  .hero-item:nth-of-type(2) .hero-item__text {
    padding-left: 30px; }
  .hero-item:last-of-type {
    margin-bottom: 0; }
  .hero-item__info {
    width: calc(100% - 0px); }
  .hero-item__title {
    font-size: 24px;
    font-family: "Proxima Nova Semibold";
    color: #ffffff;
    margin-bottom: 5px; }
  .hero-item__text {
    font-size: 14px;
    font-family: "Proxima Nova Regular";
    color: #ffffff; }
    .hero-item__text ul {
      column-count: 2; }
    .hero-item__text span {
      font-family: "Proxima Nova Semibold";
      text-decoration: underline; }
  .hero-item__media {
    position: relative;
    width: 170px;
    height: 50px;
    top: 11px; }
    .hero-item__media img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.hero-form {
  margin-top: -21px;
  padding: 40px 20px;
  background: #bd0000;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .hero-form:before, .hero-form:after {
    position: absolute;
    content: '';
    background: url("../images/general/block-pat.png") no-repeat;
    width: 95px;
    height: 97px; }
  .hero-form:before {
    top: 0;
    left: 0; }
  .hero-form:after {
    bottom: 0;
    right: 0; }
  .hero-form__title, .hero-form form {
    position: relative;
    z-index: 2;
    color: #ffffff; }
  .hero-form__title {
    font-size: 18px;
    font-family: "Proxima Nova Semibold";
    text-align: center;
    margin-bottom: 30px;
    padding: 2px 10px 0;
    line-height: 24px; }
  .hero-form .label {
    font-size: 16px;
    margin-bottom: 20px;
    display: block; }
  .hero-form .input {
    display: block;
    width: 100%;
    margin-top: 5px; }
  .hero-form .btn-default {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 16px 30px; }
  .hero-form .modal-group .label-checkbox {
    font-size: 12px; }

.advantage-wrapper {
  background: #202020;
  padding: 20px 0 22px; }
  .advantage-wrapper .advantage-wrap {
    margin: 0 -15px; }
  .advantage-wrapper .advantage-item {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0 15px;
    position: relative; }
    .advantage-wrapper .advantage-item:before, .advantage-wrapper .advantage-item:after {
      position: absolute;
      content: '';
      top: 0; }
    .advantage-wrapper .advantage-item:before {
      top: 4px;
      right: 1px;
      height: 9px;
      width: 9px;
      background: #bd0000;
      z-index: 2; }
    .advantage-wrapper .advantage-item:after {
      top: 7px;
      right: 5px;
      width: 1px;
      height: 100%;
      background: #ffffff; }
    .advantage-wrapper .advantage-item:last-of-type:before, .advantage-wrapper .advantage-item:last-of-type:after {
      display: none; }
    .advantage-wrapper .advantage-item:nth-of-type(1) {
      width: 285px;
      min-width: 227px; }
    .advantage-wrapper .advantage-item:nth-of-type(2) {
      width: 217px;
      padding: 0 32px;
      min-width: 184px; }
    .advantage-wrapper .advantage-item:nth-of-type(3) {
      width: 248px;
      padding: 0 35px;
      min-width: 205px; }
    .advantage-wrapper .advantage-item:nth-of-type(4) {
      width: 170px;
      padding: 0 25px 0 20px;
      min-width: 153px; }
    .advantage-wrapper .advantage-item:nth-of-type(6) {
      width: 248px;
      padding: 0 10px 0 40px; }

.more-info {
  text-align: center; }
  .more-info .btn-arrow {
    display: inline-block; }

.service-price {
  margin-top: 5px;
  margin-bottom: 30px;
  border: 1px solid #000000; }
  .service-price.active .service-price__title {
    padding: 25px 30px 0 20px; }
  .service-price.active .service-price__button:after {
    transform: rotate(180deg); }
  .service-price.active .service-price__wrap {
    display: block; }
    .service-price.active .service-price__wrap .service-price__item {
      margin-bottom: 10px; }
      .service-price.active .service-price__wrap .service-price__item .service-price__title {
        padding: 0;
        cursor: default;
        -moz-user-select: auto;
        -khtml-user-select: auto;
        user-select: auto; }
  .service-price__title {
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    padding: 25px 30px 25px 20px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; }
    .service-price__title span {
      display: inline-block;
      margin-left: 10px; }
  .service-price__wrap {
    padding: 15px 30px;
    display: none; }
  .service-price__item {
    justify-content: space-between; }
  .service-price__button {
    position: relative;
    padding-right: 20px; }
    .service-price__button:after {
      position: absolute;
      content: '';
      top: 50%;
      margin-top: -3px;
      right: 0;
      background: url("../images/general/ico-down-red.png");
      width: 10px;
      height: 6px; }
  .service-price .btn-black {
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    padding: 11px 30px;
    border: 1px solid transparent; }
    .service-price .btn-black:hover {
      color: #202020;
      border-color: #202020; }

.main-service {
  padding-top: 20px; }
  .main-service .more-info .btn-arrow {
    display: inline-flex; }
    .main-service .more-info .btn-arrow img {
      margin-left: 20px; }
  .main-service .title-site {
    margin-bottom: 33px; }

.service-wrap {
  flex-wrap: wrap;
  margin: 0 -15px; }
  .service-wrap.align-items-start {
    align-items: stretch !important; }
  .service-wrap.service-page .service-item {
    background: #f8f8f8; }
  .service-wrap.service-page .service-item__title {
    padding: 0 10px; }
  .service-wrap.service-page .service-item__btn {
    padding: 0 10px 20px; }

.service-item {
  width: calc(33.333% - 30px);
  margin: 0 15px 40px; }
  .service-item__media {
    margin-bottom: 15px;
    height: 122px; }
    .service-item__media img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .service-item__title {
    margin-bottom: 9px;
    font-size: 16px;
    color: #000000;
    font-family: "Proxima Nova Regular";
    padding: 0 7px; }
  .service-item__btn {
    display: flex;
    justify-content: space-between;
    padding: 0 10px; }
    .service-item__btn button {
      width: 112px;
      display: block;
      padding: 8px 10px; }

.sidebar .title-sidebar {
  font-size: 18px;
  font-family: "Proxima Nova Semibold";
  color: #000000;
  margin-bottom: 22px; }

.sidebar .modal-group {
  margin-bottom: 10px; }

.sidebar .video-item {
  margin-bottom: 20px;
  background: #f8f8f8;
  padding: 0 0 15px 0; }
  .sidebar .video-item__media {
    height: 143px;
    margin-bottom: 13px;
    overflow: hidden;
    position: relative; }
    .sidebar .video-item__media:before {
      position: absolute;
      content: '';
      left: 25px;
      top: 25px;
      right: 25px;
      bottom: 25px;
      background: rgba(44, 44, 44, 0.2);
      opacity: 0; }
    .sidebar .video-item__media img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all ease 200ms; }
    .sidebar .video-item__media:hover:before {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      opacity: 1; }
    .sidebar .video-item__media:hover img {
      transform: scale(1.1); }
  .sidebar .video-item__title {
    padding: 0 12px; }
    .sidebar .video-item__title a {
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      margin-left: 11px;
      text-decoration: underline; }
      .sidebar .video-item__title a:hover {
        text-decoration: none; }

.sidebar .btn-red {
  border-radius: 30px;
  font-size: 16px;
  padding: 18px 30px 17px;
  width: 100%; }

.sidebar .all-video {
  margin-bottom: 25px;
  text-align: center; }
  .sidebar .all-video a {
    text-align: center; }

.video-category {
  position: relative; }
  .video-category span {
    font-size: 24px;
    line-height: 30px;
    font-family: "Proxima Nova Semibold";
    color: #ffffff;
    position: absolute;
    width: 100%;
    display: block;
    padding: 30px;
    z-index: 3;
    text-align: center; }
  .video-category a {
    overflow: hidden;
    height: 322px; }
    .video-category a img {
      width: 100%;
      transition: all ease 200ms; }
    .video-category a:hover img {
      transform: scale(1.1); }

.main-about {
  position: relative;
  background: #202020;
  color: #ffffff;
  z-index: 5;
  padding: 40px 0 60px; }
  .main-about .title-site {
    color: #ffffff; }
  .main-about .text-site p {
    margin-bottom: 34px; }
  .main-about .text-site a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: underline; }
    .main-about .text-site a:hover {
      text-decoration: none; }
  .main-about .about-social .title-site {
    margin-bottom: 0; }
  .main-about .about-social__list {
    margin-left: 20px; }
    .main-about .about-social__list li {
      margin-right: 13px; }
    .main-about .about-social__list a {
      width: 64px;
      height: 64px; }
    .main-about .about-social__list img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .main-about .col-md-6 {
    position: relative; }
  .main-about .about-reviews {
    position: absolute;
    z-index: 2;
    top: 130px;
    right: 0;
    min-width: 940px;
    padding: 36px;
    background-size: cover !important; }

.main-map {
  padding: 110px 0 66px;
  background-size: cover !important; }
  .main-map .main-location__media img {
    height: 100%; }
  .main-map .main-location__info {
    background: #ffffff;
    padding: 30px; }
  .main-map .main-location__title {
    font-size: 21px;
    color: #bd0000;
    font-family: "Proxima Nova Semibold";
    margin-bottom: 20px; }
  .main-map .main-location__loc {
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    color: #1b1b1b;
    margin-bottom: 20px; }
  .main-map .main-location__phone {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .main-map .main-location__phone span {
      width: 100%;
      display: block;
      font-size: 14px;
      color: #000000;
      margin-bottom: 15px; }
  .main-map .main-location__list {
    width: 60%; }
    .main-map .main-location__list a {
      font-size: 18px;
      color: #bd0000;
      text-decoration: underline; }
      .main-map .main-location__list a:hover {
        text-decoration: none; }
  .main-map .main-location__time {
    width: 40%;
    font-size: 11px; }

.hero-wrapper .bread-crumbs {
  padding: 0;
  margin-bottom: 20px; }
  .hero-wrapper .bread-crumbs a {
    color: #ffffff; }
  .hero-wrapper .bread-crumbs li {
    color: #ffffff; }

.product-title {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 30px;
  position: relative; }
  .product-title:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 185px;
    background: #bd0000; }
  .product-title span {
    font-size: 18px;
    color: #ffffff;
    padding-left: 20px;
    line-height: 24px; }

.product-info .title-section {
  line-height: 43px;
  max-width: 350px;
  position: relative;
  margin-bottom: 40px; }
  .product-info .title-section:after {
    position: absolute;
    content: '';
    right: -80px;
    top: 60%;
    background: url("../images/general/arrow-product.png") no-repeat;
    width: 210px;
    height: 112px; }

.product-info__btn {
  margin-bottom: 40px; }
  .product-info__btn button {
    position: relative;
    font-size: 22px;
    color: #131313;
    font-family: "ProximaNova Bold";
    padding: 13px 20px 14px 70px;
    border-radius: 8px; }
    .product-info__btn button:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background: url("../images/general/product-btn.png") no-repeat;
      width: 63px;
      height: 54px; }

.product-descr {
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer; }
  .product-descr img {
    margin-right: 10px; }

.product-subtitle {
  font-size: 14px;
  color: #ffffff;
  margin-top: -20px;
  margin-bottom: 30px; }

.product-video__btn button {
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Proxima Nova Light";
  font-size: 18px;
  text-decoration: underline;
  padding-right: 30px;
  position: relative; }
  .product-video__btn button:before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    background: url("../images/general/product-btn-video.png") no-repeat;
    width: 22px;
    height: 22px; }
  .product-video__btn button:hover {
    text-decoration: none; }

.about-product__media {
  width: 100%;
  height: 100%;
  min-height: 250px; }
  .about-product__media iframe {
    width: 100%;
    height: 100%; }

.product-form {
  background-size: cover !important; }

.product-question .comment-post .label {
  margin-bottom: 10px;
  width: 100%;
  display: block; }
  .product-question .comment-post .label .input {
    margin-top: 5px;
    width: 100%; }

.product-question .comment-post textarea {
  margin-top: 5px; }

.product-question .comment-post .rating-wrap {
  margin-top: 10px;
  margin-bottom: 40px; }

.sidebar-category {
  margin-bottom: 30px; }

.sidebar .btn-red {
  margin-bottom: 15px;
  max-width: 300px; }

.blog-item {
  margin-bottom: 50px; }
  .blog-item__title {
    margin-bottom: 10px; }
    .blog-item__title a {
      font-size: 24px;
      font-family: "Proxima Nova Semibold";
      color: #000000;
      text-decoration: underline; }
      .blog-item__title a:hover {
        text-decoration: none; }
  .blog-item__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px; }
    .blog-item__category ul {
      display: flex; }
    .blog-item__category li {
      margin-right: 10px;
      color: #5a5a5a;
      font-size: 14px;
      font-family: "Proxima Nova Regular"; }
  .blog-item__comment {
    align-items: center;
    display: flex; }
  .blog-item__media {
    margin-bottom: 15px; }
    .blog-item__media img {
      width: 100%; }
  .blog-item__des {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .blog-item__text {
    font-size: 14px;
    line-height: 24px;
    color: #9A9A9A;
    width: calc(100% - 200px); }
  .blog-item__link {
    width: 180px; }
    .blog-item__link a {
      width: 100%;
      text-align: center; }

.sidebar-category li {
  margin-bottom: 10px; }

.sidebar-category a {
  width: 100%;
  text-align: center;
  max-width: 290px; }

.blog-form {
  padding: 20px;
  background-size: cover !important; }
  .blog-form__title {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 25px; }
  .blog-form .label,
  .blog-form .btn {
    display: inline-block;
    min-width: 265px; }
  .blog-form .label {
    margin-right: 20px; }
    .blog-form .label input {
      height: 42px;
      width: 100%; }
  .blog-form .modal-group {
    color: #ffffff;
    margin: 10px 0; }

.blog-post__media {
  margin-bottom: 20px; }

.blog-post__media-img {
  margin-right: 30px; }

.post-wysiwyg p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px; }
  .post-wysiwyg p strong {
    display: block; }

.post-wysiwyg iframe {
  width: 100%;
  height: auto;
  min-height: 400px;
  margin-bottom: 30px; }

.post-wysiwyg a {
  color: #bd0000;
  text-decoration: underline; }
  .post-wysiwyg a:hover {
    text-decoration: none; }

.comment-post__title {
  font-size: 18px;
  line-height: 30px;
  font-family: "Proxima Nova Semibold"; }

.comment-post {
  margin-bottom: 20px; }
  .comment-post form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end; }
  .comment-post .label {
    color: #484848;
    width: 255px; }
    .comment-post .label span {
      font-size: 11px; }
    .comment-post .label .input {
      display: block;
      border: 1px solid #8c8c8c;
      color: #8c8c8c;
      text-align: left; }
  .comment-post .label-textarea {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .comment-post .label-textarea textarea {
      font-family: "Proxima Nova Regular";
      display: block;
      border: 1px solid #8c8c8c;
      color: #8c8c8c;
      height: 100px;
      resize: none;
      font-size: 16px;
      border-radius: 5px;
      outline: none;
      padding: 10px; }
  .comment-post .btn-default {
    width: 300px;
    display: block;
    margin: 23px 0 0 auto;
    text-transform: uppercase;
    font-family: "Proxima Nova Semibold";
    background: #bd0000;
    border-color: #bd0000; }
    .comment-post .btn-default:hover {
      background: transparent;
      color: #bd0000; }

.rating-label {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .rating-label .icon {
    width: 16px;
    height: 16px; }

.rating {
  border: none;
  float: left; }
  .rating .rating {
    width: auto; }
  .rating span {
    float: left;
    margin: 1px 10px 0 0; }

.clear {
  clear: both; }

.rating > label {
  color: #90A0A3;
  float: right;
  margin: 0 5px 0 0; }
  .rating > label .icon {
    fill: transparent;
    stroke: #bd0000; }

.rating > label:before {
  margin: 5px;
  font-size: 2em;
  display: inline-block; }

.rating > input {
  display: none; }

.rating > input:checked ~ label .icon,
.rating:not(:checked) > label:hover .icon,
.rating:not(:checked) > label:hover ~ label .icon {
  fill: #bd0000; }

.rating > input:checked + label:hover .icon,
.rating > input:checked ~ label:hover .icon,
.rating > label:hover ~ input:checked ~ label .icon,
.rating > input:checked ~ label:hover ~ label .icon {
  fill: #bd0000; }

.comment-answer {
  margin-bottom: 40px; }

.answer-item {
  margin-bottom: 40px; }
  .answer-item__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px; }
  .answer-item__name {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #111111;
    font-family: "Proxima Nova Semibold";
    margin-right: 10px; }
    .answer-item__name span {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      min-width: 42px;
      box-sizing: border-box;
      border-radius: 50%;
      background: #bd0000;
      margin-right: 5px; }
  .answer-item__date {
    color: #979797;
    font-size: 14px;
    margin-right: 10px; }
  .answer-item__btn {
    margin-right: 10px; }
    .answer-item__btn button {
      background: transparent;
      color: #570000;
      text-decoration: underline; }
  .answer-item__text {
    position: relative;
    font-size: 16px;
    color: #1e1e1e;
    padding-left: 25px; }
    .answer-item__text:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background: url("../images/general/comment-bg.png") no-repeat top center;
      width: 18px;
      height: 18px; }

.answer-child {
  padding-left: 90px;
  margin-top: 25px; }

@media screen and (max-width: 1200px) {
  .header-center .logo img {
    max-width: 200px; }
  .header-center .header-inf {
    display: none !important; }
  .header-center .header-phone a {
    font-size: 18px; }
  .header-center .align-items-center {
    justify-content: space-between; }
  .btn-secondary {
    padding: 11px 15px; }
  .header-bottom .header-nav a {
    font-size: 14px; }
  .hero-form {
    display: none; }
  .hero-wrapper .subtitle-section {
    margin-bottom: 20px; }
  .advantage-wrapper .advantage-item {
    padding: 0 5px; }
  .service-item__btn button {
    width: 90px;
    padding: 10px 5px;
    font-size: 12px; }
  .sidebar .video-item__media {
    height: 115px; }
  .sidebar .btn-red {
    padding: 18px 15px 17px; }
  .sidebar-category a {
    padding: 11px 4px;
    font-size: 14px; }
  .hero-info {
    text-align: center; }
  .product-media {
    max-width: 540px;
    margin: 0 auto 20px; }
    .product-media img {
      margin: 0 auto;
      width: 100%; }
  .product-info {
    max-width: 430px;
    margin: 0 auto; } }

@media screen and (max-width: 1024px) {
  .advantage-wrapper {
    display: none; } }

@media screen and (max-width: 992px) {
  .bread-crumbs {
    padding: 20px 0 0; }
  .blog-post__media {
    flex-direction: column; }
  .blog-post__media-img {
    margin: 0 auto 20px; }
  .sidebar .video-item__media {
    height: 143px; }
  .header-center {
    padding: 15px 0; }
    .header-center .col-md-5, .header-center .col-md-4 {
      display: none; }
  .header-bottom {
    display: none; }
  .header-mobile {
    display: block; }
  .btn-header {
    display: block; }
  .service-price.active .service-price__title {
    padding: 15px 15px 0; }
  .service-price.active .service-price__wrap {
    padding: 10px 15px; }
  .hero-item__info {
    width: 100%; }
  .hero-item__media {
    display: none; }
  .hero-item:nth-of-type(2) .hero-item__text {
    padding-left: 0; }
  .service-item {
    width: calc(50% - 30px);
    margin: 0 auto 30px; }
  .service-item__media {
    height: 165px; }
  .service-price__title {
    padding: 15px; }
  .sidebar {
    padding-top: 30px; }
    .sidebar .all-video {
      max-width: 250px;
      margin: 0 auto;
      text-align: center; }
    .sidebar .video-category {
      display: none; }
  .sidebar-video {
    display: flex;
    flex-wrap: wrap; }
  .sidebar-video {
    margin: 0 -15px; }
  .sidebar .video-item__title a {
    margin-left: 8px; }
  .video-item__media a {
    height: 100%; }
  .video-item__media img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .video-item {
    max-width: 250px;
    width: calc(50% - 30px);
    margin: 0 15px; }
  .sidebar-category a {
    padding: 11px 10px;
    font-size: 16px; } }

@media screen and (max-width: 768px) {
  .header-top ul {
    justify-content: center; }
  .header-top .top-contact {
    margin-top: 10px;
    justify-content: center; }
  .hero-item__text ul {
    column-count: 1; }
  .main-location {
    flex-direction: column; }
    .main-location__media {
      display: none; }
    .main-location__info {
      padding: 15px; }
  .main-about .about-social__list a {
    width: 32px;
    height: 32px; }
  .main-about .text-site {
    margin-bottom: 20px; }
    .main-about .text-site p {
      margin-bottom: 24px; }
  .blog-form {
    text-align: center; }
    .blog-form .modal-group {
      color: #ffffff;
      max-width: 300px;
      margin: 10px auto; }
  .blog-form__title {
    margin-bottom: 15px; }
  .blog-form .label, .blog-form .btn {
    width: 100%;
    max-width: 350px;
    margin: 0 auto 15px;
    min-width: 200px; }
  .blog-item__des {
    flex-direction: column; }
  .blog-item__text {
    width: 100%;
    margin-bottom: 15px; }
  .answer-child {
    padding-left: 30px; } }

@media screen and (max-width: 580px) {
  .service-wrap {
    margin: 0; }
  .service-price__title, .service-price__item {
    flex-direction: column; }
  .service-item {
    width: 100%;
    max-width: 350px;
    margin: 0 auto 20px; }
  .more-info .btn-arrow {
    font-size: 13px;
    padding: 10px 14px 10px; }
  .sidebar .btn-red {
    font-size: 14px;
    padding: 10px 14px; } }

@media screen and (max-width: 480px) {
  .hero-wrapper .title-section {
    font-size: 24px; }
  .product-info .title-section {
    font-size: 24px;
    line-height: 34px;
    max-width: 300px;
    margin-bottom: 10px; }
    .product-info .title-section:after {
      width: 135px;
      height: 72px;
      background-size: cover;
      right: 0px;
      top: 45%; }
  .product-title {
    padding-bottom: 20px;
    margin-bottom: 25px; }
  .product-info__btn button {
    padding: 11px 15px 11px 60px;
    font-size: 18px; }
    .product-info__btn button:before {
      width: 50px;
      height: 44px;
      background-size: cover; }
  .hero-item {
    padding: 10px; }
  .sidebar-video {
    margin: 0; }
  .video-item {
    width: 100%;
    margin: 0 auto 15px;
    max-width: 250px; }
  .comment-post form {
    flex-direction: column; }
    .comment-post form .label {
      width: 100%;
      margin-bottom: 10px; }
    .comment-post form .input {
      width: 100%; }
  .comment-post .rating-wrap {
    width: 100%;
    margin-bottom: 10px; }
  .comment-post .btn-default {
    margin: 20px 0 0 0; } }

@media screen and (max-width: 400px) {
  .main-map .main-location__list {
    width: 100%;
    margin-bottom: 10px; }
  .main-map .main-location__time {
    width: 100%; } }

@media screen and (max-width: 380px) {
  .header-top li {
    margin: 0 3px; }
  .header-top .top-contact li {
    margin: 0 4px; }
  .header-top .top-contact a, .header-top .top-contact button {
    font-size: 12px; }
  .comment-post form .btn-default {
    width: 100%;
    max-width: 280px; } }

@media screen and (max-width: 350px) {
  .product-info__btn button {
    padding: 11px 23px;
    font-size: 18px; }
    .product-info__btn button:before {
      display: none; } }
