.footer{
  background: $black;
  .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px 6px;
    .icon{
      fill: $white;
    }
  }
  &-logo{
    margin: 0 auto 0 0;
    max-width: 120px;
    a, img{
      width: 100%;
    }
    img{
      filter: invert(1);
    }
  }
  &-social{
    ul{
      display: flex;
    }
    li{
      margin-right: 10px;
    }
  }
  &-phone{
    position: relative;
    ul{
      display: none;
    }
  }
  &-phone__btn{
    margin-right: 10px;
    .icon{
      width: 16px;
      height: 16px;
    }
  }
  &-nav__button{
    .icon-cross{
      width: 16px;
      height: 16px;
    }
  }
}