.header-top{
  position: relative;
  z-index: 100;
  background: $black;
  padding: 8px 0;
  ul{
    display: flex;
    align-items: center;
  }
  li{
    margin: 0 10px;
    &:first-of-type{
      margin-left: 0;
    }
  }
  a{
    font-size: 14px;
    color: $white;
    font-family: $prRegular;
    &:hover{
      text-decoration: underline;
    }
  }
  .top-contact{
    justify-content: flex-end;
    button{
      background: transparent;
    }
    li{
      display: flex;
      align-items: center;
      margin: 0 10px;
      &:last-of-type{
        margin-right: 0;
      }
    }
    a, button{
      margin-left: 5px;
      color: $white;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.header-center{
  padding: 25px 0;
  background: $white;
  position: relative;
  z-index: 100;
  .header-location{
    font-size: 13px;
    a{
      font-size: 12px;
      text-decoration: underline;
      color: $primary;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .header-time{
    margin-left: 10px;
    font-size: 13px;
  }
  .header-social{
    ul{
      display: flex;
      align-items: center;
    }
    li{
      margin: 0 5px;
      &:first-of-type{
        margin-left: 0;
      }
      &:last-of-type{
        margin-right: 0;
      }
    }
    a{
      max-width: 33px;
      max-height: 33px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .header-phone{
    a{
      font-size: 22px;
      font-family: $prBold;
      color: $black;
    }
  }
}
.header-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba($black, .66);
  opacity: 0;
  &.active{
    z-index: 99;
    opacity: 1;
  }
}
.header-bottom{
  position: relative;
  z-index: 100;
  background: $primary;
  .header-nav{
    ul{
      display: flex;
    }
    li{
      margin: 0 22px;
      &:first-of-type{
        margin-left: 0;
      }
      &:last-of-type{
        margin-right: 0;
      }
    }
    a{
      font-size: 16px;
      color: $white;
      font-family: $prSemiBold;
      padding: 25px 0;

    }
  }
  .sub-nav{
    position: relative;
    a{
      position: relative;

      &:after{
        position: absolute;
        content: '';
        right: -20px;
        top: 50%;
        margin-top: -3px;
        background: url("../images/general/ico-down.png") no-repeat center;
        width: 10px;
        height: 6px;
      }
      &.active{
        &:after{
          transform: rotate(-180deg);
          top: calc( 50% - 3px);
        }
      }
    }
    ul{
      display: none;
      background: #a30000;
      min-width: 340px;
      &.active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
      }
      a{
        padding: 7px 10px;
        width: 100%;
        &:after{
          display: none;
        }
        &:hover{
          background: $white;
          color: $primary;
        }
      }
    }
    li{
      margin: 0;
    }

  }
}
.header-center{
  position: relative;
  &.is-open{
    z-index: 101;
    padding: 0;
    height: 0;
    .logo{
      display: none;
    }
  }
}
.btn-header{
  display: none;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;
  cursor: pointer;
  transition: all ease 200ms;
  span{
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 100%;
    background: $primary;
    transition: all ease 100ms;
    &:before, &:after{
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 2px;
      background: $primary;
      transition: all ease 300ms;
    }
  }
}

.header-mobile{
  display: none;
  position: fixed;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: $white;
  transition: all ease 300ms;
  padding: 20px 0;
  &.is-open{
    left: 0;
  }
  .logo{
    text-align: center;
  }
  .btn-close{
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    top: 15px;
    right: 15px;
    &:before, &:after{
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background: $primary;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(135deg);
    }
  }
  .btn-secondary{
    display: block;
    max-width: 220px;
    margin: 0 auto 10px;
  }
  .header-location{
    font-size: 13px;
    max-width: 250px;
    margin: 0 auto 20px;
    a{
      font-size: 12px;
      text-decoration: underline;
      color: $primary;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .header-mobile__info-time{
    font-size: 13px;
    max-width: 250px;
    display: flex;
    align-items: center;
    margin: 0 auto 20px;
    img{
      display: inline-block;
      margin-right: 15px;
    }
    .header-time{
      max-width: 140px;
    }
  }
  .header-social{
    max-width: 250px;
    margin: 0 auto 20px;
    ul{
      display: flex;
      align-items: center;
    }
    li{
      margin: 0 5px;
      &:first-of-type{
        margin-left: 0;
      }
      &:last-of-type{
        margin-right: 0;
      }
    }
    a{
      max-width: 33px;
      max-height: 33px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .header-phone{
    max-width: 250px;
    margin: 0 auto 50px;
    a{
      font-size: 18px;
      font-family: $prBold;
      color: $black;
    }
  }
}
.header-mobile__nav{
  max-width: 250px;
  margin: 10px auto;
  a{
    font-size: 14px;
    color: $default;
  }
  .sub-nav{
    margin-bottom: 10px;
    span{
      font-family: $prSemiBold;
      display: inline-block;
      margin-bottom: 10px;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        right: -20px;
        top: 50%;
        margin-top: -3px;
        background: url("../images/general/ico-down-red.png") no-repeat center;
        width: 10px;
        height: 6px;
      }
    }
    ul{
      display: none;
    }
    li{
      margin-bottom: 5px;
    }
  }

}