.hero-wrapper{
  .bread-crumbs{
    padding: 0;
    margin-bottom: 30px;
    margin-top: -13px;
    a{
      color: $white;
    }
    li{
      color: $white;
    }
  }

}
.product-title{
  display: flex;
  align-items: center;
  padding: 22px 10px 40px 40px;
  margin-bottom: 30px;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    left: 40px;
    bottom: -9px;
    height: 3px;
    width: 185px;
    background: $primary ;
  }
  span{
    font-size: 18px;
    color: $white;
    padding-left: 20px;
    line-height: 28px;
  }
}
.product-info{
  margin-bottom: 32px;
  padding: 22px 0 0 40px;
  .title-section{
    line-height: 43px;
    max-width: 350px;
    position: relative;
    margin-bottom: 42px;
    &:after{
      position: absolute;
      content: '';
      right: -86px;
      top: 63%;
      background: url("../images/general/arrow-product.png") no-repeat;
      width: 210px;
      height: 112px;
    }
  }
}
.product-info__btn{
  margin-bottom: 40px;
  button{
    position: relative;
    font-size: 22px;
    color: #131313;
    font-family: $prBold;
    padding: 13px 25px 14px 90px;
    border-radius: 8px;
    box-shadow: 0 0 38px 20px rgba(2,41,78,0.4);
    &:before{
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background: url("../images/general/product-btn.png") no-repeat;
      width: 63px;
      height: 54px;
    }
    &:hover{
      box-shadow: 0 0 38px 20px rgba(2,41,78,0.5);
    }
  }
}
.product-descr{
  font-family: $prRegular;
  font-size: 16px;
  color: $white;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  padding-left: 40px;
  img{
    margin-right: 10px;
  }
}
.product-subtitle{
  font-size: 14px;
  color: $white;
  margin-top: -10px;
  margin-bottom: 30px;
  padding-left: 40px;
}
.product-video__btn{
  button{
    background: transparent;
    color: rgba($white, .6);
    font-family: $prLight;
    font-size: 18px;
    text-decoration: underline;
    padding-right: 30px;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      background: url("../images/general/product-btn-video.png") no-repeat;
      width: 22px;
      height: 22px;
    }
    &:hover{
      text-decoration: none;
    }
  }
}
.about-product{
  padding: 35px 0 65px;
  &__title{
    font-size: 30px;
    margin-bottom: 35px;
  }
  &__media{
    width: 100%;
    height: 100%;
    min-height: 250px;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
}
.product-form{
  padding: 10px 0 0;
  background-size: cover !important;
  .blog-form__title{
    font-size: 24px;
    margin-bottom: 27px;
    padding: 4px 0 0 18px;
  }
  .blog-form{
    form{
      padding-left: 18px;
      .label, .btn{
        height: 53px;
        min-width: 335px;
      }
      .input{
        height: 53px;
      }
      .modal-group{
        margin: 20px 0;
      }
    }
  }
}
.product-question{
  .comment-post{
    .label{
      margin-bottom: 10px;
      width: 100%;
      display: block;
      .input{
        margin-top: 5px;
        width: 100%;
      }
    }
    textarea{
      margin-top: 5px;
    }
    .rating-wrap{
      margin-top: 10px;
      margin-bottom: 40px;
    }
  }
}